[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JS3029
[access "refs/for/refs/*"]
	read = group user/JS3029
	push = group user/JS3029
	label-Code-Review = -2..+2 group user/JS3029
	label-Verified = -1..+1 group user/JS3029
	rebase = group user/JS3029
	removeReviewer = group user/JS3029
	submit = group user/JS3029
[access "refs/heads/*"]
	read = group user/JS3029
	create = group user/JS3029
	push = +force group user/JS3029
	pushMerge = group user/JS3029
[access "refs/tags/*"]
	push = group user/JS3029
	push = +force group user/JS3029
